<h1>New Message</h1>

<%= form_for @message do |f| %>
<div>
  <%= f.text_field :title, placeholder: "Message Title" %>
</div>
<div>
  <%= f.text_field :message_text, placeholder: "Message Text" %>
</div>

<%= f.submit "Add Message" %>
<% end %>
