<p class="not_current_step">Step 1. Add Information<span class="current_step">>>>Step 2. Check Representatives (Click Finish to Activate Friend/Family)</span></p>
<h1><%= @target_message %></h1>
<%= link_to "Back", edit_target_path(@target.id), class: "btn btn-success" %>
<%= link_to "Cancel/Delete", delete_target_path(@target.id), method: "delete", class: "btn btn-success" %>
<%= link_to "Finish", finish_target_path(@target.id), class: "btn btn-success" %>
