<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Dear&nbsp;<%= @first_name %></h1>
    <h2> The following message was sent to your Friend/Family on your behalf by Stop Trump</h2>

    <h3> <%= @message_text %>

      <h2> Contact Your Congressional Representatives!</h2>

      <h3>
        <% @action_array.each do |r| %>
          <%= r[:rep_name] + ' ' + r[:rep_phone] %>
        <% end %>
      </h3>

    </h3>
  </body>
</html>
