<section>
  <div id="representatives-index">
    <div class="container-fluid">
      <div class="col-sm-12">
        <h1 class="display-3">Senators and Representatives</h1>
        <%#= link_to "New Representative", ???????, class: "btn btn-success" %>
  <%if current_user.admin?  %>

        <hr>
          <% @reps.each do |r| %>
          <div class="row index-list">
            <%= link_to r.first_name + " " + r.last_name + " " + r.first_three + " " + r.url, edit_rep_path(r.id) %>
            <%= link_to "", delete_rep_path(r), method: :delete, class: "glyphicon glyphicon-trash", data: {confirm: 'Are you sure you want to delete this Representative?'}  %>
            <hr>
          </div>
          <% end %>
        </hr>
      <%= will_paginate @reps, renderer: FoundationPagination::Rails %>
      <%= page_entries_info @reps %>
      <br><br>
  <% end %>
      </div>
    </div>
  </div>
</section>
