<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @salutation %></h1>
    <h2> <%= @message_text %></h2>
    <h2> Contact Your Congressional Representatives!</h2>

    <h3>
      <% @action_array.each do |r| %>
      <%= r[:rep_name] + ' ' + r[:rep_phone] %>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">Click to Send a Message</a>
      <% end %>
    </h3>
  </body>
</html>
