<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @salutation %></h1>
    <h2> <%= @message_text %></h2>
    <h3> <% @reps.each do |r| %>
          <%if r.emails.nil?  %>
            <%= r.name + " " + r.phones[0]%>
          <%else %>
            <%= r.name + " " + r.phones[0] + " " + r.email[0]%>
          <% end  %>
        <% end  %>
  </body>
</html>
