<div class="row">
	<div class="large-12 columns">

		<div class="large-12 columns about">

			<h1>About Stop Trump</h1>
			<p>
				As two of the 100 Million “All Blue” Americans who are represented in Congress by all Democrats, we wanted to do our part in telling Congress to block the Trump agenda.
			</p>
			<p>
				But, we knew that calling Elizabeth Warren, Diane Feinstein, and Joe Kennedy wasn’t going to make much of a difference. They were already voting against Trump
			</p>
			<p>
				So, we started calling our friends and family who are represented by Republicans to get them to call their Senators and Congresspeople…because those calls matter.
			</p>
			<p>
				Then, we created this site to make it really easy for other “All Blue” Americans to work with their friends and family
			</p>

			<div class="large-12 columns small-12">
					<h5>Watch Our Video</h5>
					<div class="flex-video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/wk8X78WaTco" frameborder="0" allowfullscreen></iframe>
					</div>
				<a href="#" class="button success large">How It Works</a>
			</div>

		</div>
	</div>
</div>
