<div class="row">
	<div class="large-12 columns">

		<div class="large-12 columns about">

			<h1>About Stop Trump</h1>
			<p>
				Want to influence Congress to oppose the Trump agenda?  Us, too. But we’re among 100 Million “All Blue” Americans represented solely by Democrats and calling our Senators and Congressmen doesn’t help that much.
			</p>
			<p>
				We wanted to generate calls that make a difference - in red and purple states and districts. That’s how the Stop Trump Friends and Family Plan was born.
			</p>
			<p>
				We’ve created a website that enables you to encourage friends and family represented by Republicans to call their Senators and Congressmen…because those calls matter.
			</p>

			<div class="large-12 columns small-12">
					<h5>Watch Our Video</h5>
					<div class="flex-video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/N-NoqTvCtUE" frameborder="0" allowfullscreen></iframe>
					</div>
				<a href="#" class="button success large">How It Works</a>
			</div>

		</div>
	</div>
</div>
