<div class="row">
	<div class="large-12 columns faq">
	<h1>FAQs</h1>
			<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Why did you create the Stop Trump Friends and Family Plan?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">How does it work?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">How often do I send messages?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">What if I don’t know who my friends and family’s reps are?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">What if I don’t have address for a friend or family member?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">What if my friend/family member doesn’t have a GOP Senator or Congressperson?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
  <li class="accordion-item " data-accordion-item>
    <a href="#" class="accordion-title">What happens to the information I enter on the site?</a>
    <div class="accordion-content" data-tab-content>
      I would start in the open state, due to using the `is-active` state class.
    </div>
  </li>
</ul>
	</div>
</div>
