<div id="accordion" class="row" data-page="true">
	<div class="large-12 columns faq">
		<h1>FAQs</h1>
		<ul class="accordion" data-accordion>
			<li class="accordion-item is-active" data-accordion-item>
				<a href="#" class="accordion-title">Why did you create the Stop Trump Friends and Family Plan?</a>
				<div class="accordion-content" data-tab-content>
					This site was developed for the 100 million Americans who live in districts represented only by Democrats who are already voting against the Trump agenda. It enables them to take action by getting their friends and family who are represented by Republicans to contact their reps.
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">How does it work?</a>
				<div class="accordion-content" data-tab-content>
					Each member creates a Stop Trump Circle by adding their friends and family. Then, once a month, your circle will be sent an email or text from you asking them to call their GOP Senators and Reps. You'll also get an email letting you know that a message has gone out so you can follow up with your circle and encourage them to call.
						<br/>
					To learn more, check out the <a data-open="videoModal">Intro to Stop Trump Friends and Family Plan </a>video or our <a href="/pages/how-it-works">How it works</a> page
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">How often are messages sent?</a>
				<div class="accordion-content" data-tab-content>
					When you first add someone to your circle, they will get a message right away with Today's Action. After that, messages are sent once/month. We don't want to overwhelm you or your friends and family.
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">How do we decide what messages to send?</a>
				<div class="accordion-content" data-tab-content>
					We look to a couple of different sources including the Democratic National Committee and Indivisible.
						<br/>
					On their website, the DNC maintains a <a href="https://makecalls.democrats.org/">list of messages</a> they want Democrats to deliver to their GOP representatives.
						<br/>
					We are also members of our local Indivisible chapters and look to them for guidance.
				</div>
			</li>


			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">What if I don’t know who my friends and family’s reps are?</a>
				<div class="accordion-content" data-tab-content>
					All you need to do is enter their info and we’ll look it up.
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">What if I don’t have address for a friend or family member?</a>
				<div class="accordion-content" data-tab-content>
					You can add a friend or family member with just their name and the state they live in. We won’t be able to look up their Congressperson but we will be able to look up their Senators.
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">What if my friend/family member doesn’t have a GOP Senator or Congressperson?</a>
				<div class="accordion-content" data-tab-content>
					We’ll add them to your Friends and Family list anyway, but they won’t get any messages right now.
				</div>
			</li>
			<li class="accordion-item " data-accordion-item>
				<a href="#" class="accordion-title">What happens to the information I enter on the site?</a>
				<div class="accordion-content" data-tab-content>
					We never give away any information entered on the site. It is used just for the Stop Trump Friends and Family Plan. Read our Privacy Policy for more information.
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="videoModal" class="large reveal" data-reveal="" data-reset-on-close="true">
<iframe width="760" height="415" src="https://www.youtube.com/embed/N-NoqTvCtUE"  frameborder="0" allowfullscreen></iframe>
<button class="close-button" type="button" data-close="">×</button>
</div>
