<div class="row">
    <div class="large-12 columns">
        <div class="large-4 columns ">
            <div class="how_it_works">
                <%=image_tag("how-to-1.png")%>
            </div>
        </div>
        <div class="large-4 columns ">
            <div class="how_it_works">
                <%=image_tag("how-to-2.png")%>
            </div>
        </div>
        <div class="large-4 columns ">
            <div class="how_it_works">
                <%=image_tag("how-to-3.png")%>
            </div>
        </div>

    </div>
</div>
