<p class = "test" id= "splash">Making a Difference!!!</p>

<p class = "test" id= "splash"> <%= Targetmessage.count.to_s %> action requests have been sent to <%= Target.count.to_s %> friends and family by <%= User.count.to_s %> members.</p>
