<div class= "center jumbotron">
  <h1 class = "test">Making a Difference!!!</h1>
</div>
  <h2>
    <%= Targetmessage.count.to_s %> action requests have been sent to <%= Target.count.to_s %> friends and family by <%= User.count.to_s %> members.
  </h2>
