// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.asterisk {
  color: red;
}

.current_step{
  font-size: 40px;
  color: red
}

.not_current_step{
  font-size: 40px;
  color: black
}

#office {
    background: url("Clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  padding-top: -10px;
  }

#nav_bar{
  a {
      color: white;
      font-size: 14px;
      text-align: right;
    }
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#splash_heading{
  text-align: center;
  color: red;
  font-size: 48px;
}

#splash_subheading{
  text-align: center;
  color: red;
  font-size: 32px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
