<div class="header">
    <div class="large-3 small-6 columns float-left">
        <div class="large-9 columns"><a href="/friends"><%=image_tag("stop-trump.png")%>
        </a></div><div class="large-3 columns"></div>
    </div>
    <div class="large-9 small-6 columns float-left">
        <div class="user-login">
            <ul>
                <%if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                <%else%>
                <li><%= link_to "Log In/Sign Up", new_user_session_path%></li>
                <% end %>
                <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
    <div class="large-9 small-12 columns">
        <ul class="menu">
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="#">How it works</a>
            </li>
            <li>
                <a href="#">FAQs</a>
            </li>
        </ul>
    </div>


</div>
